<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
    </style>
</head>

<body>

    <div class="center-div w-[30%]  border-2 rounded-lg bg-[#F4B3B9] absolute top-[2rem] left-[35%] flex justify-between items-center ">
        <p class="p-2 text-red-500 whitespace-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, et.</p>
        <button class="text-[#F4B3B9] font-sans mr-2 bg-rose-500 rounded px-1">OK</button>
    </div>
</body>

</html>